:root {
  --color-neutral-300: #fcfaee;
  --color-neutral-400: #f3f1d4;
  --color-neutral-900: #1a1a1a;

  --color-primary-300: #9466ff;
  --color-primary-400: #8257e6;

  --color-secondary-200: #74767b;
  --color-secondary-300: #7a786a;
  --color-secondary-400: #6e6c60;
  --color-secondary-900: #3a3c40;

  --color-shape-400: #dbd9ce;

  --color-fundo: Black;
  --color-destaque: #41d888;
}

/* ========================
* ===== Configurações =====
=========================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.3125rem;
  line-height: 1.4;
  /* background: linear-gradient(45deg, #323232, #000); */
  background: linear-gradient(45deg, #323232, #262626);
}

/* ========================
* ======== Matrix ========
=========================== */
main {
  /* display: block;
  width: 100vw;
  height: 100vh; */
  /* background-color: #000; */
  /* background: linear-gradient(45deg, #323232, #000); */
  color: green;
}

.lines {
  position: fixed;
  font-weight: bold;
  font-size: 16px;
  font-family: consolas;
  transform: rotate(270deg);
  transition: transform 2s;
  width: 10px;
}

.lines div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: linear-gradient(90deg, transparent 30%, black 100%); */
}

.lines span {
  color: green;
  opacity: .8;
}

/* ========================
* ======== Seção ========
=========================== */
section {
  position: relative;
  /* padding: 80px 0; */
  z-index: 1000;
}

@media screen and (min-width: 480px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding: 80px 0;
  }
}

/* ========================
* ======== Wrapper ========
=========================== */
.wrapper {
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: 480px;
    padding: initial;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

/* ========================
* ======== Letras =========
=========================== */
@media screen and (min-width: 480px) {
  body {
    font-size: 1.6125rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.9125rem;
  }
}

@media screen and (min-width: 992px) {
  /* body {
        font-size: 2.2125rem;
    } */
}

@media screen and (min-width: 1200px) {
  /* body {
        font-size: 2.5125rem;
    } */
}

::selection {
  color: #000;
  background: #00fa9a;
}

/* ========================
* ======== Títulos ========
=========================== */

h1,
h2 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #00fa9a;
}

h1 {
  font-size: 1.4em;
}

h1::first-letter {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
  line-height: 2.2em;
}

h2::first-letter {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #FFF;
}

span {
  /* font-family: 'Product Sans'; */
  font-size: 1rem;
  /* font-weight: 600; */
  /* letter-spacing: 2px; */
  text-decoration: none;
  line-height: 2.4rem;
  /* margin-bottom: 1em; */
  color: #FFF;
  /* opacity: 0.7; */
}

a {
  /* font-family: 'Product Sans'; */
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 2.4rem;
  margin-bottom: 1em;
  color: #fff;
  /* opacity: 0.7; */
}

p {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 1em;
  color: #fff;
  /* opacity: 0.7; */
}

ul,
li {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.4rem;
  list-style: none;
  /* margin-bottom: 1em; */
  color: #fff;
  /* opacity: 0.7; */
}

/* ========================
* ======== Botão ========
=========================== */
.chamada {
  display: none;
  width: 250px;
  /* display: block; */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  color: #000;
  background: #37db84;
  filter: drop-shadow(2px 4px 0px black);
}

/* ========================
* ======== Headline ========
=========================== */
#headline {
  position: relative;
  /* min-height: 92vh; */
}

#headline p {
  font-size: 1rem;
  line-height: 1.8rem;
  /* text-decoration-thickness: 2px;
  text-decoration-line: underline; */
}

#videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px 0;
  z-index: 1000;
}

/* #myVideo {
  max-height: 600px;
} */

.fullscreen {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #000;
}

.fullscreen_video {
  height: inherit;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls { display: none !important; } */

.scrolling {
  display: block;
  position: absolute;
  padding-top: 70px;
  bottom: 0;
  left: 50%;
}

.scrolling span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrolling 1.5s infinite;
  animation: scrolling 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scrolling {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* ========================
* ======== Direto ========
=========================== */

/* ========================
* ======== Medo ========
=========================== */

/* ========================
* ======== Cura ========
=========================== */
#cura ul {
  margin-block: 20px;
}

#cura ul li {
  display: flex;
  margin-bottom: 1em;
}

#cura ul li svg {
  margin-top: 10px;
  margin-right: 15px;
}

#cura ul li span {
  opacity: 0.8;
}

/* ========================
* ======== Depoimentos ========
=========================== */
#depoimentos ul li {
  display: grid;
  grid-template-columns: 100px auto;
  margin-bottom: 3em;
}

#depoimentos ul li div > span {
  display: block;
  /* font-family: sans-serif; */
  letter-spacing: 3px;
  line-height: initial;
}

#depoimentos ul li div span svg {
  margin-right: -10px;
  transform: scale(0.6);
}

#depoimentos ul li div > span:nth-child(1) {
  display: block;
  line-height: initial;
  margin-top: -15px;
  margin-bottom: 5px;
}

#depoimentos ul li div > span:nth-child(2) {
  font-size: 1rem;
}

#depoimentos ul li div > span:nth-child(3) {
  font-size: 0.8rem;
}

#depoimentos ul li p {
  /* font-family: sans-serif; */
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: left;
  margin-top: 30px;
  /* letter-spacing: 1.2px; */
}

#depoimentos ul li p:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top: -10px;
  background: #FFF;
}

/* ========================
* ======== Imaginar ========
=========================== */

/* ========================
* ======== Perguntas ========
=========================== */
#perguntas {
  padding-top: 80px;
  z-index: 900;
}

.accordion {
  max-height: 85px;
  text-align: left;
  margin: 20px;
  padding: 15px;
  overflow: hidden;
  transition: .8s ease-in;
}
.accordion__question {
  position: relative;
  /* height: 40px; */
  text-align: left;
  margin: 5px;
  padding: 0;
  font-size: 20px;
  color: #00fa9a;
}

.accordion__question::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50px;
  left: 0;
  background: #FFF;
  opacity: .4;
}

.accordion span {
  float: right;
  font-weight: 800;
  color: #00fa9a;
}

.accordion__answer {
  font-size:16px;
  text-align: left;
  margin-top: 20px;
  padding: 0px 15px;
  line-height:2;
  color: #FFF;
  /* overflow:hidden; */
  /* transition: 1s; */
}

.accordion:hover{
  cursor: pointer;
}

.active {
  /* display: block; */
  max-height: 500px;
/* }2px; */
  top: 50px;
  left: 0;
  /* background: #FFF; */
}

/* ========================
* ======== Rodapé ========
=========================== */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  z-index: 1000;
}

footer p {
  font-size: 10px;
  line-height: 18px;
  opacity: 0.8;
}