.playPause {
  position: absolute;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  z-index: 2000;
}
.playPause.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.playPause.animationHide {
  opacity: 0;
  animation: x 1.2s;
  animation-iteration-count: 1;
}
.playPause.animationShow {
  opacity: 1;
  animation: x 1.2s;
  animation-iteration-count: 1;
}
@keyframes x {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}